.body{
    background-color: #5b6f72f1;
    font-family: 'Times New Roman', Times, serif;
}
.header{
    background-image: url("./pics/f.jpg");
    object-fit: center;
    height: 400px;
    width: 100%;
    position: static;
}
.contact{
    background-image: url("./pics/g.jpg");
    object-fit: cover;
    
}
.demos{
    display: flex;
    flex-direction: row;
    padding: 10px;
    img{
        border-radius: 4px;
        object-fit: cover;
    }
    div{
        margin: 10px;
        width:500px;
    }

}
@media screen and (max-width:1000px) {
    .demos{
        div{
            width: 35%;
        }
    }
}
@media screen and (max-width:770PX) {
    .demos{
        flex-direction: column;
        div{
            width: 100%;
        }
        .me{
    width:100%;
        }
    }
    .movie{
        flex-direction: column;
    }
    .lib{
        width: 100%;
    }
    
}
.hero2{
    background-image: url("./pics/c.jpg");
}
